h1 {
    margin: 20px 0 30px 0;
    text-align: center;
}

.trabalhos {
    margin: 0 auto;
    width: 700px;
    height: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 30px;

}

.trabalho-1 {
    background-image: url("../img/ccb.jpg");
}

.trabalho-2 {
    background-image: url("../img/trabalho2.jpg");
}

.trabalho {
    width: 300px;
    height: 300px;
}

.blackbox {
    width: 100%;
    height: 100%;
    background-color: #000;
    opacity: .8;
}

.blackbox-text {
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 3px;
}

.blackbox-text h2 {
    font-size: 1.2rem;
    font-weight: 600;
    text-align: center;
    color: #967AA1;
}

.blackbox-text p {
    font-size: .8rem;
    font-weight: 100;
}

.link-trabalho {
    width: 300px;
    height: 300px;
}

@media (min-width: 768px) {
    .trabalhos {
        width: 700px;
        height: 100%;
        flex-direction: row;
        flex-wrap: wrap;
        justify-content: space-evenly;
        gap: 30px;
    }
}