h1 {
    text-align: center;
    margin: 15px 0 30px 0;
}

.container {
    width: 460px;
    margin: 0 auto;
}

.container img {
    width: 100%;
    margin: 10px 0;
    border-radius: 5px;
}

.container h2 {
    line-height: 40px;
}

.container p {
    font-size: .9rem;
    font-weight: 100;
    margin-bottom: 10px;
}